.SearchResultDisplayBlock {
  position: relative;
  display: inline-block;
  background-color: white;
  /* width: 25%; */
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  /* left: 30.6% */
  vertical-align: top;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  min-height: 730px;
}

.CloseBtn {
  float: inline-end;
  padding: 8px;
} 