.SingleTweetBlock {
  border-block-end: inherit;
  padding: 17px;
}

.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 6px 8px; /* Some padding */
  font-size: 8px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
  background-color: RoyalBlue;
}

.btnEdit {
  background-color: rgb(25, 21, 134); 
  border: none; 
  color: white; 
  padding: 6px 8px; 
  font-size: 8px; 
  cursor: pointer; 
}

.hover {
  cursor: pointer; 
}

.Edited {
  color: #59bb61;;
}


.SingleTweetBlock .optionsContainer {
  width: 110%;
  display: inline-block;
  text-align: right;
}


.hiddenVisibilty {
  display: none;
}

.SingleTweetBlock .optionsContainer p, .SingleTweetBlock .optionsContainer .btn{
  display: inline-block;
  margin: 0px 5px;
}
