.SearchModal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 20%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 5.5%;
    top: 0.5%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.SearchModal h2 {
    color: black;
}